Source: libnss-radius
Maintainer: Pietro Donatini
Section: admin
Priority: standard
Standards-Version: 0.1
Build-Depends: 

Package: libnss-radius
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, debianutils (>= 1.8)
Description: NSS module to match all request of unknown user to a single user (All To One)
 .
  Homepage: http://www.dm.unibo.it/~donatini

